.page { line-height: 1.5em; letter-spacing: 0.05em; }
.notice { margin: 2em 0px; }
.toolbutton { padding: 8px; }
button { margin-bottom: 8px; }
#navcontainer2 a:link, #navcontainer a:visited { border-bottom: 0px; }
#dw__search button { margin-top: 0.85em; }
.page li, .page dd { margin: 1.15em 0px 0px 1.5em; display: block; }

#writtensidebar h1 {

color: black;
border-bottom: 3px solid #4d4d4d;
padding: 1px 0;
padding-left: 5px;
/* background-color: #3c3c3c; */ padding-top: 12px;
/*font: bold 90%;*/
font-weight: bold;
font-size: 1em;
}


.dokuwiki #writtensidebar a { background-image: none; }

#writtensidebar ul { padding: 0px; }
#writtensidebar li { margin-bottom: 0.85em; display: block; }

#writtensidebar li a:hover {
background-color: #000080;
border-left-color: #484848;
color: white;
}

#writtensidebar li a{
display: block;
padding: 6px 0px;
padding-left: 9px;
width: 169px; /*185px minus all left/right paddings and margins*/
text-decoration: none;
/*color: #dcdcdc;*/
/*background-color: #595959;*/
border-bottom: 0px solid #4d4d4d;
border-left: 0px solid #484848;
}


