@media screen and (max-width: 1000px) {
  .container { 
    margin: 0px; width: 90%; 
    margin-left: auto; margin-right: auto; 
  }
}

@media screen and (max-width: 800px) {
  .container { margin: 0px; width: 100%; }
	.pagename { width: 100% !important; }
	.row { max-width: 100%; }
  .contentbox { min-height: unset; }
	.column { display: block !important; width: 100% !	important; }
  .contentbox:last-child { border-left: 10px solid #3c3c3c; }
  .sparewidth { flex-grow: unset; }
  .flex { display: block !important; }
  #ddblueblockmenu { font-size: 1.35em; }
  #ddblueblockmenu li a{ margin-bottom: 0.85em; }
  .showbreak:not(:first-child) { position: relative; bottom: 0px; }
  #writtensidebar li { font-size: 18.9px; }
  #writtensidebar li a { padding-left: 0px;  }
}

/* media manager and config manager for mobile */
@media screen and (max-width: 480px){
  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }
  /*.page li, .page dd { margin: 1.35em 0px !important; display: block; }*/
  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 75%;  }

  .dokuwiki fieldset { width: unset; }
  #config__manager fieldset { width: 94%; box-sizing: border-box; }

     /* make <select> not exceed it's parent div's width */
    /* https://stackoverflow.com/q/44810056/337306 */
    div.input { display: flex; } select { width: 100%; flex-shrink: 1; }

  #config__manager fieldset td.value { width: unset; }

  #config__manager td textarea.edit { width: 90%; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  #config__manager td input.edit { 
    max-width: 100%; 
    width: unset;
  }
}